ui = true
disable_mlock = true
api_addr = "https://${openbao_ip}:8200"
cluster_addr = "https://${openbao_ip}:8201"

storage "raft" {
  path = "/var/lib/openbao/raft"
  node_id = "openbao"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_cert_file = "/var/lib/openbao/tls/server.crt"
  tls_key_file = "/var/lib/openbao/tls/server.key"
}
